.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.Image{
    flex: 1;
    padding-left: 70px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    width: 240px;
    height: 120px;

}
.Text{
    text-align: center;
    align-items: center;
    width: 65%;
}

.hr {
    background-color: #18b0b0;
    border-style: none;
    height: 3px;
    width: 85%;
}